<!DOCTYPE html>
{% extends 'base.html' %}
	{% block title %} This is the jobs app landpage {% endblock %}

	{% block content %}

		{% if auth %}
			{% if key %}
				{% for k in key %}
				<div class="card" style="width: 50rem center">
					<div class="card-body">
						<div class="card-title">
							<h1>{{k.title}}</h1>
						</div>
						<p>{{k.body}}</p>
						<div class="card-text">
							<p>Author: {{k.owner}}</p>
							<p>Contact: {{k.owner.email}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}

				<h3>
					<a class="nav-link" href="{% url 'newjob' %}">New Post</a>
				</h3>
		{% else %}
			<h2>you must be logged in to see the job postings</h2>
		{% endif %}
	{% endblock %}
